API_EMAIL="tmtl.kz@bk.ru"
API_PASS="******************"
API_HOST="smtp.mail.ru"
PORT=3000
OPENWEATHERMAP_API_KEY="******************"
SUBSCRIBE_EMAIL="subscription@tmtl.kz"
SUBSCRIBE_PASS="12345^Yuiop"
SUBSCRIBE_HOST="tmtl.kz"
BOT_TOKEN=*************************************
CHANNEL_ID=@test_hot_tours
TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash  
TELEGRAM_PHONE=your_phone_number